#grid1 {
  background: #B7E0E9;

}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #FFFFFF;
}

.grid-stack-item-removing {
  opacity: 0.5;
}

.boxContent {
  z-index: 999;
  width: 100%;
  height: 100%;
}


.glyphicon {
  font-size: 45px;
}
