#grid1 {
  background: #FFFFFF;

}

.grid-stack-item-content {
  color: #FFFFFF;
  text-align: center;
  background-color: #FFFFFF;
}

.grid-stack-item-removing {
  opacity: 0.5;
}

.boxContent {
  z-index: 999;
  width: 100%;
  height: 100%;
}


.glyphicon {
  font-size: 45px;
}
textarea { border: none; }
