<html lang="en"><head>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Two grids demo</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/gridstack.css">
  <link rel="stylesheet" href="../static/css/gridstack-extra.css">
  <link rel="stylesheet" href="../static/css/buildStructure.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
  <script src="../static/js/gridstack.js"></script>

  <style data-gs-style-id="gridstack-style-86005" type="text/css"></style><style data-gs-style-id="gridstack-style-78305" type="text/css"></style></head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner" >
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Build your blog structure</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav" style="margin-left:15px">
            <li>
              <button type="button" class="btn btn-default navbar-btn" style="margin-left:15px" onclick="cancel()">Cancel</button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn" style="margin-left:15px" onclick="next()">Next</button>
            </li>
            <li>
              <a id="documentID" class="navbar-brand" style="margin-left:70px">{{documentID}}</a>
            </li>
          </ul>
          <ul id="navbarLogin" class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <a id="user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://www.paradisecity.me:8082/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid" style="margin-top:70px">

<div class="row" style="margin-bottom:30px">
<div class="col-md-1">
  <label style="margin-left:90px">Title</label>
</div>
<div class="col-md-6">
  <input id="title" type="text" class="form-control" placeholder="Name">
</div>
</div>
      <div class="row">
        <div class="col-md-6">
          <div class="trash ui-droppable">
          </div>
        </div>
        <div class="col-md-6">
          <div class="sidebar">
            <div class="myElements" id="newTitle"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-text-width" ></div></div></div>
            <div class="myElements" id="newText"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-pencil"></div></div></div>
            <div class="myElements" id="newImage"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-picture"></div></div></div>
            <div class="myElements" id="newComment"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-comment"></div></div></div>
            <div class="myElements" id="newVideo"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-facetime-video"></div></div></div>
            <div class="myElements" id="newTag"><div style="position: relative;" class="grid-stack-item ui-draggable"><div class="grid-stack-item-content ui-draggable-handle glyphicon glyphicon-tags"></div></div></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div  class="grid-stack grid-stack-6 grid-stack-instance-5576 ui-droppable" id="grid1"></div>
        </div>
      </div>
    </div>

    <script src="../static/js/buildStructure.js"></script>
  </body>
</html>
